# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env


src/component/auth
src/component/Navbar.jsx
src/component/Post.jsx
src/component/ProfileHeader.jsx
src/component/PostAction.jsx
src/component/ChatHistory.jsx
src/component/ChatPost.jsx
src/component/FriendRequest.jsx

src/pages/Home.jsx
src/pages/Message.jsx
src/pages/Profile.jsx
src/pages/SearchUser.jsx
src/pages/ProfileViewer.jsx
src/pages/Notifications.jsx
src/App.jsx
package.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
